# Flutter/Android
.dart_tool/
.buildlog/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.pub-cache/
pubspec.lock

# Android/Gradle
android/.gradle/
android/local.properties
android/app/key.properties
**/GeneratedPluginRegistrant.*

# iOS/macOS
ios/Pods/
macos/Pods/

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Images/artifacts
build/
